<h3>以下の内容で登録する。</h3>
<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :place %>
  <%= form.hidden_field :content %>

  <p>イベント名:<%= @event.title %></p>
  <p>日時:<%= @event.date%></p>
  <p>場所:<%= @event.place%></p>
  <p>イベント内容:<%= @event.content %></p>
  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model: @event, url: new_event_path, local: true, method: "get") do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :date %>
  <%= form.hidden_field :place %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
