<div class="container">
  <table class="table">
    <h1>イベント一覧</h1>
    <p><%= notice %></p>
    <thead>
      <tr>
        <th>イベント名</th>
        <th>イベント内容</th>
      </tr>
    </thead>
    <% @events.each do |event| %>
    <tbody>
      <tr>
        <td><%= event.title.truncate(10) %></td>
        <td><%= event.content.truncate(30) %></td>
        <td><%= link_to "イベントの詳細を確認する", event_path(event.id) %></td>
        <% if logged_in? && event.user_id == current_user.id %>
            <td><%= link_to "イベントを編集する", edit_event_path(event.id) %></td>
            <td><%= link_to "イベントを削除する", event_path(event.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @events %>
  <br>
  <button type="button" class="btn btn-warning btn-lg"><%= link_to "新しくイベントを作成する", new_event_path %></button>
</div>
