<h4><%= @participant.user.name %>様</h4>
<p>イベントの参加を受け付けました</p>
<h1>参加イベント詳細</h1>
<h3>イベント名: <%= @participant.event.title %></h3>
<h3>日時: <%= @participant.event.date %></h3>
<h3>場所: <%= @participant.event.place %></h3>
<h3>イベント内容: <%= @participant.event.content %></h3>
